.element__delete-button{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-image: url('../../../images/element__delete-button.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.2s linear;
    cursor: pointer;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.element__delete-button:hover {
    opacity: .5;
}