.auth__input {
    width: 100%;
    margin: 0 0 34px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: start;
    text-decoration: none;
    color: #CCCCCC;
    font-style: normal;
    max-width: 358px;
    outline: none;
    padding-bottom: 7px;
    border-bottom: 2px solid #CCCCCC;
    z-index: 1;
}